# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: ejb-client Integration

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  workflow_dispatch:

jobs:
  build-test-matrix:
    name: ${{ matrix.jdk-distribution }}-${{ matrix.jdk-version }}-${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        jdk-distribution: [temurin]
        jdk-version: [17]
    steps:
    - uses: actions/checkout@v5
    - name: Set up JDK ${{ matrix.jdk-distribution }} ${{ matrix.jdk-version }}
      uses: actions/setup-java@v4
      with:
        distribution: ${{ matrix.jdk-distribution }}
        java-version: ${{ matrix.jdk-version }}
        cache: 'maven'
    - name: Run Tests
      run: |
        mvn -ntp -U -B -fae -Dmaven.source.skip clean install
        WTC_VER="$(ls target/wildfly-transaction-client-*.jar | sed -n 's/.*wildfly-transaction-client-//p' | sed 's/\.jar//')"
        echo -e "WTC_VER=$WTC_VER" >> $GITHUB_ENV
    - name: Checkout jboss-ejb-client repo
      uses: actions/checkout@v5
      with:
        repository: wildfly/jboss-ejb-client
        path: jboss-ejb-client
    - name: Build jboss-ejb-client with wildfly-transaction-client
      run: |
        cd jboss-ejb-client
        mvn -ntp -U -B -Dmaven.source.skip -Dversion.org.wildfly.transaction.client=$WTC_VER -Dmaven.compiler.showWarnings=false -Dmaven.compiler.showDeprecation=false clean install
    - uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: surefire-${{ matrix.jdk-distribution }}-${{ matrix.jdk-version }}-${{ matrix.os }}
        path: '**/surefire-reports/*.txt'
